<h1>Agricola Scorepad</h1>
<label for="new-player">Add player</label>
{{ input type="text" id="new-player" placeholder="New player name"
    value=newPlayer action="createPlayer" }}

<ul>
  {{!-- Each Player --}}
  {{#each itemController="player"}}
  <li>
    {{name}}
    <ul>
      {{!-- Each Score --}}
      {{#each scores}}
        <li>
          {{render "score" this}}
        </li>
      {{/each}}
      <li><strong>Total Score: {{total}}</strong></li>
    </ul>
  </li>
  {{else}}
  <li>
    No Players!
  </li>
  {{/each}}
</ul>

<h2>
  {{winnersInflect}}
  <ul>
    {{#each winners}}
      <li>{{name}} </li>
    {{else}}
      <li>..nobody!</li>
    {{/each}}
  </ul>
</h2>